div {
  background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position:relative;
  top: 100px; 
  left: 50px;
  animation-name:DO-BRONXS;
  animation-duration: 6s; 
  animation-iteration-count: infinite;
}
@keyframes DO-BRONXS {
  0% {
    background-color: yellow;
    top:60px;
    left:60px;
  }  
  100% {background-color: blue;
  top: 120px; 
  left: 120px; }
}
}